footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: $margin; /*map get*/
    overflow: hidden;

    .contenedor-footer{
        display: $display; /*map get*/
        width: 90%;
        justify-content: space-evenly;
        margin: $margin; /*map get*/
        padding-bottom: 50px;
        border-bottom: 1px solid #ccc;
    
    }}