header{
    width: 100%;
    .textos-header{
        display: $display; /*map get*/
        height: 430px;
        width: 100%;
    align-items: map-get($estilos, centro); /*map get*/
     }
}

nav {
    text-align: map-get($estilos, centro); /*map get*/
    padding: 30px 50px 0 0;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    
}
.textos-header h1{
    display: $display; /*map get*/   
    align-items: map-get($estilos, centro); /*map get*/
    @include justify-font-color
}
.textos-header h2{
    display: $display; /*map get*/
    font-weight: 300;
    @include justify-font-color     /*MIXIN*/
}

 .transition1 {
     transition: all 0.5s ease;
     background: aliceblue;
     padding: 10px;
     &:hover {
        background: $background; /*map get*/
        padding: 20px;
    }}   

 .transition2 {
  @extend .transition1;         /*EXTEND*/
    transition: background 0.2s ease, padding 0.8s ease-in-out;}

