.titulo{
    font-size: 25px;
    padding-right: 25px;
    width: 500px;
    transition: linear 0.8s;
    &:hover {
     
        grid-area: titulo; 
        padding: 10px 10px;
        margin: 0px 40px 20px 20px;
        
    }
}
