$estilos: (
 display: flex,
 margin: auto,
 disPlay: grid,
 background: #ee9c9c,
 centro: center,
);

$display: map-get($estilos, display);
$margin: map-get($estilos, margin);
$disPlay: map-get($estilos, disPlay);
$background: map-get($estilos, background);
$centro:map-get($estilos, centro);

@mixin justify-font-color{
    justify-content: space-around;
    font-size: 50px;
    color: black;

}



@import"header";
@import"titulo";
@import"footer";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: aliceblue;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: $margin; /*map get*/
    overflow: hidden;

}



 .Grid-explicit{
    justify-content: space-evenly;
     display: $disPlay; /*map get*/
 grid-area: auto;
 
       .GridColum{
    display: $disPlay;/*map get*/
    grid-template-columns: 50% 100px 1fr;
                }    }



    
.contenedor-sobre-nosotros{
    display: $display; /*map get*/
    justify-content: space-evenly;}

.contenedor{
    @extend .contenedor-sobre-nosotros; /*EXTEND*/
}    
.sobre-nosotros .contenido-textos{
    width: 48%;}


img {
    grid-area: imagen-about-us;
    padding: 10px 10px;
    margin: 0px 40px 20px 20px;
    &:hover {
        width: 550px;
        height: 420px;
        border-color: black;}
    }
.imagen-about-us {
    border: black solid;
    width: 500px;
    height: 370px;
    transition: linear 0.8s;            /*transiciones*/
}    



@media screen and (max-width: 900px) {
    header{
        background-position: map-get($estilos, centro); /*map get*/

    }
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: map-get($estilos, centro); /*map get*/
        align-items: map-get($estilos, centro); /*map get*/

    }
    .sobre-nosotros .GridColums{
        width: 90%;

    }
}


@media screen and (max-width:500px) {
    nav{text-align: map-get($estilos, centro);  /*map get*/
   padding: 30px 0 0;
   a{
    margin-right: 5px;
}}
   .textos-header h1{
       font-size: 35px;
   }
    .textos-header h2{
        font-size: 20px;
    }
    
}

